@model IEnumerable<MvcEcocycle.Models.Movimentacoes>

@{
	ViewData["Title"] = "Index";
}

<h1>Movimentações</h1>

<p>
	<a asp-action="Create" class="btn btn-custom">Criar Novo</a>
</p>
<table class="table table-striped table-bordered table-hover table-info" style="background-color: #394D37">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ColaboradoresId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Qtdmovimentada)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Data)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Usuario)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Colaboradores.Nome)
				</td>
				<td class="Kgram">
					@Html.DisplayFor(modelItem => item.Qtdmovimentada)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Data)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Usuario.Email)
				</td>
				<td>
					<a asp-action="Edit" class="btn" style="background-color: #9EE5FF;" asp-route-id="@item.MovimentacoesId">Editar</a> |
					<a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.MovimentacoesId">Deletar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
